---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
@charset "utf-8";
@import
	"bootstrap"
;

$color-pink: #FE3376;
$color-pink-dark: #993D5B;
$color-bg: #f4f4f4;

body {
	font-weight: 300;
	font-size: 16px;
	line-height: $line-height;
	background-color: $color-bg;
}

.header {
	font-weight: 400;
}

.main-header {
	// color: white;
	// background: url( "{{ site.github.url }}/img/bg.jpg" ) no-repeat;
	/* background-image: linear-gradient(rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 1)), url( "{{ site.github.url }}/img/bg.jpg" );
	background-repeat: no-repeat; */
}

.drop-caps {
	padding-top: 1em;
	&:first-letter {
		font-size: 300%;
		color: $color-pink;
		line-height: 33%;
	}
}

.page-contents {
	margin-top: 2em;
	margin-bottom: 2em;
}

.post {
	color: #434649;
}

.inline-block {
	display: inline-block;
}

.text-small {
	font-size: .750rem;
}

.text-center {
	text-align: center;
}

.border-light-grey {
	border: 1px solid $gray-light;
}

.border-underline {
	border-bottom: 1px solid $gray-lightest;
}

h1 {
	padding: 20px 0 10px 0;
}

h4 {
	color: $gray-dark;
	margin-bottom: 0;
}

.bordered-section {
	border-top: 1px solid $gray-lighter;
	border-bottom: 1px solid $gray-lighter;
}

.p-t-05 {
	padding-top: 0.5rem !important;
}

.p-a-05 {
	padding: 0.5rem !important;
}

.p-r-05 {
	padding-right: 0.5rem !important;
}

@media (max-width: #{map-get($grid-breakpoints, "md")}) {
  .p-b-1-sm {
		padding-bottom: 1em !important;
	}

	.p-x-0-sm {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

.ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
  max-width: 100%;
}

.highlight pre {
	padding: 12px;
	border-radius: 8px;
	margin: 0;
}

code {
	color: $color-pink-dark;
	font-size: 80%;
}

.vert-center-table {
	display: table;

	& > div,span {
		display: table-cell;
		vertical-align: middle;
	}
}

.flex-middle {
	display: flex;
	align-items: center;
}

.flex-wrap {
	flex-wrap: wrap;
}

.share-button {
	vertical-align: top;
	padding-right: 10px;
}

.link-black {
	color: #373a3c;

	&:hover {
		color: #373a3c;
	}
}

hr.narrow {
	margin-left: 10%;
	margin-right: 10%;
}

img.full-page {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.post-footer {
	margin-top: 3em;
	font-weight: bold;
	text-align: center;
}