---
layout: default
---

<div class="main-header">
	<div class="container">
		{% include header.html mode="dark" %}
	</div>

	<div class="container">
		<div class="row m-y-3" />
			<div class="col-md-4 text-center">
				<span itemprop="image" class="p-r-05 p-y-1">
					<img
						class="img-circle border-light-grey"
						style="height: 72px;"
						src="{{ site.github.url }}/img/Marek_Piechut.jpg"
						alt="Picture"/>
				</span>
			</div>
			<div class="col-md-8">
				<div>
					<strong>Marek Piechut</strong> - Engineer at TomTom. Working on microservices, data stores,
					real time maps and rich web apps.
				</div>
				<div class="small">Get in touch:
					<a href="https://twitter.com/intent/tweet?screen_name=marekpiechut">@marekpiechut</a></div>
			</div>
		</div>
	</div>
</div>

<div class="container">
<h4 class="m-y-3 text-center">On the blog:</h4>
<div class="row">
{% for post in site.posts offset:0 limit:2 %}
<div class="col-md-6 m-b-3">
  <div class="border-underline" style="display: flex; flex-direction: row; width: 100%; justify-content: space-between; margin-bottom: 10px;">
    <a class="post-link link-black" href="{{ post.url | prepend: site.github.url }}">
        <h4 class="ellipsis">{{ post.title }}</h4>
    </a>
  </div>

  <div class="post">
    {{ post.content | strip_html | truncatewords:50}}
    <div class="text-muted text-small">{{ post.date | date: "%b %-d, %Y" }}</div>

    {% if post.author %}
      {% include author-line-small.html author=page.author post=post%}
    {% elsif site.author %}
      {% include author-line-small.html author=site.author post=post%}
    {% endif %}
</div>
{% endfor %}
</div>
{% include footer.html %}
</div>
