{{- /* Footer custom content area start */ -}}

<div style="text-align: left; background-color: #FFFED3; padding: 10px; border-radius: var(--radius);">
👋 Hey! I'm currently building a <b>serverless queue and scheduling service</b>.
If you need to reliably send emails or periodically run a cleanup job, give it a try: 
<div style="text-align: center; margin: 10px 0 6px 0;">
	<b><a href="https://lambdaqueue.com" style="text-decoration: underline" target="_blank">LambdaQueue.com</a></b>
</div>
</div>

{{- /* Footer custom content area end */ -}}
