---
layout: default
---
<article class="page-contents container" itemscope itemtype="http://schema.org/BlogPosting">

	<header class="post-header text-md-center">
		<div class="text-md-left inline-block">
			<h1 class="m-b-0" itemprop="name headline">{{ page.title }}</h1>
			<p class="text-muted text-small">
				<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
					{{ page.date | date: "%b %-d, %Y" }}
				</time>
			</p>
		</div>
	</header>

	{% if page.author %}
		{% include author-line.html author=page.author%}
	{% elsif site.author %}
		{% include author-line.html author=site.author%}
	{% endif %}

	<div class="drop-caps" itemprop="articleBody">
		{{ content }}
	</div>

	<div>
		<a
		class="twitter-share-button"
		href="https://twitter.com/intent/tweet">
		Tweet
	</a>
</div>

</article>
