---
layout: page
---
<article class="page-contents col-md-12" itemscope itemtype="http://schema.org/BlogPosting">

	<header class="post-header text-md-center">
		<div class="text-md-left inline-block">
			<h1 class="m-b-0" itemprop="name headline">{{ page.title }}</h1>
			<p class="text-muted text-small">
				<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
					{{ page.date | date: "%b %-d, %Y" }} - {{ page.tags | sort | join: ", " }}
				</time>
			</p>
		</div>
	</header>

	{% if page.author %}
		{% include author-line.html author=page.author%}
	{% elsif site.author %}
		{% include author-line.html author=site.author%}
	{% endif %}

	<div class="drop-caps" itemprop="articleBody">
		{{ content }}
	</div>
	<div class="vert-center-table" style="line-height: 0;">
		<span class="share-button">
			<a class="twitter-share-button"
				href="https://twitter.com/intent/tweet">
				Tweet
			</a>
		</span>
		<span class="share-button">
			<div class="fb-share-button"
				data-href="{{ page.url | prepend: site.github.url }}"
				data-layout="button">
			</div>
		</span>
	</div>
	<div id="disqus_thread" class="m-t-3">
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
	</div>
	<script>
		var disqus_config = function() {
			this.page.url = "{{ post.url | prepend: site.github.url }}";
			this.page.identifier = "{{ post.title }}";
		};
		(function() { // DON'T EDIT BELOW THIS LINE
			var d = document,
				s = d.createElement('script');

			s.src = '//marekpiechut.disqus.com/embed.js';

			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
		})();
	</script>
</article>
